<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Forgot Password - Group Allocation System</title>
  <object th:include="fragments/head :: head" th:remove="tag"></object>
</head>

<header th:replace="fragments/header :: header"></header>

<body>
<div class="container mb-5">
  <div class="row my-3">
    <div th:if="${hidden == 'show'}" th:class="'p-3 w-100 col-lg-12 ' + ${bannerColor} + ' alert alert-dismissible fade show'" role="alert">
      <span><i th:text="${message}"></i></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-12 mx-auto">
      <h1 class="mb-3">Reset password</h1>
      <h3>Please enter your new password</h3>
      <div class="card mt-3">
        <div class="card-body">
          <form th:action="@{/password-reset}" th:object="${resetPassword}" method="post">
            <div class="form-group mb-3">
              <label for="password1">Enter password:</label>
              <input id="password1" type="password" name="password1" th:field="*{password1}" class="form-control" />
              <span th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}" class="text-error"></span>
            </div>
            <div class="form-group mb-3">
              <label for="password2">Confirm password:</label>
              <input id="password2" type="password" name="password2" th:field="*{password2}" class="form-control" />
              <span th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}" class="text-error"></span>
            </div>
            <input type="hidden" name="token" th:field="*{token}"/>
            <span th:if="${#fields.hasErrors('token')}" th:errors="*{token}" class="text-error"></span>
            <button type="submit" value="reset password" class="btn btn-primary w-100 mb-5">Reset Password</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>